[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Startup.sh
Comment=Pit Computer Startup Script
Exec=exec -c "sleep 0.5s; ~/Desktop/startup.sh"
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false